.social-menu-section {
	padding: 0px 70px;
	background-color: rgb(11, 87, 144) !important;
	text-align: end !important;
}

.fa {
  padding:3px;
  font-size:20px;
  width:30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}
  
.fa:hover {
	color:black;
    text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-instagram {
  color: white;
}
.blog-title{
	padding:50px;
	text-align:center;
}
* {
	box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-color {
color:white;
}

.logo {
	margin: 0px 90px;
	font-size: 1.45em;
}

.main-nav {
	padding:0px 65px;
	margin-top: 5px;
}

.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	text-orientation: none;
	color:white;
	font-size: .99em;
}

.h-logo{
  width: 40% !important;
}

.main-nav a:hover {
	text-decoration: none;
	color:black;
}
.font-color{
color:#0B5790 !important;
}
.font-color:hover{
color:rgb(37, 144, 202) !important;
}
.header {
	margin-top: 0px;
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
  overflow: hidden;
  background-color: #fff;
}
.footer-logo{
	width:40%;
	margin-top:10px;
}
.footer-details{
	color:white;
	text-align:center;
	padding:10px;
}
.footer-details-md1{
	color:white;
	text-align:center;
	padding: 5px 0px 15px;
}
.card-data{
  padding: 6px;
    margin: 5px;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.footer-icon{
	font-size:30px !important;
}

.footer-icon:hover{
	color:white;
}

.footer{
	background-color: rgb(11, 87, 144) !important;
}

ul.list-inline.text-center {
    display: flex;
}

#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul li{
  padding:20px;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/*.container-fluid{
	
}*/

.container-footer{
  padding-left: 510px !important;
  padding: 5px;
}

.advertisment{
	background-color:#f6f6f6 !important;
}

.main-box{
	border-radius: 10px;
	width: 1200px;
	height: 300px;
	border: 1px solid #DCDCDC;
	margin:20px auto 20px;
}
.inner-box{
	border-radius: 20px;
	padding: 60px !important;
	background-color:white;
	width:1000px;
	height: 210px;
	border:1px solid #DCDCDC;
	margin:40px auto;
}
.btn-size{
	width: 110px;
    margin-top: 20px;
}

/** {
  box-sizing: border-box;
}
*/

.blog_row
{
  margin-top:30px !important;
}
.beginner-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Beginners.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.beginner-blog:hover {
  transform: scale(1.2); 
}

.mediator-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Mediators.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.mediator-blog:hover {
  transform: scale(1.2); 
}

.advance-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Advanced.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.advance-blog:hover {
  transform: scale(1.2); 
}

.data-link:hover{
  text-decoration: none;

}

.cate_title{
  font-size: 50px !important;
}

.android-icon{
	font-size: 100px;
    padding: 50px;
    color: aliceblue;
}
.android-icon:hover{
	color:white;
}
.android-content{
	display: block;
    font-size: 40px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    margin-top: -30px;
    text-decoration: none;
}
.header-logo{
  width: 55% !important;
}

.card1 {
  box-shadow:0px 4px 4px 4px rgb(119, 134, 145);
  max-width: 345px;
  margin: auto;

  text-align: center;
  font-family: arial;
}
.card1Container{
margin: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.card button:hover {
  opacity: 0.7;
}
.blog-height{
	margin-top:250px !important;
}
.blog-image{
  border-radius: 10px !important;
	width:300px;
	height:250px;
}

/* Related Post CSS */
 .blog-image{
  width: 100% !important;
  padding: 20px;
 }
.post_title{
  margin: 15px;
  font-weight: bold;
  font-size: 20px;

  text-decoration: underline !important;
}

.post_desc{
  margin: 5px;
  font-size: 17px;
  text-align: center;
  overflow: hidden;
   text-overflow: ellipsis;
   
	 display: -webkit-box;
   -webkit-line-clamp: 3 !important;
   -webkit-box-orient: vertical;
	
}
.card1 p{
  font-size: 17px;
  text-align: center;
  overflow: hidden;
   text-overflow: ellipsis;
   
   display: -webkit-box;
   -webkit-line-clamp: 3 !important;
   -webkit-box-orient: vertical;
  
}
.Intro{
  line-height: 1.5;
  text-align: justify;
  font-size: 20px !important;
  letter-spacing: 1px;
}

.Intro-img{
  border-radius: 30px !important;
  padding: 20px;
}

/* Category Css */
.circle-height{
	margin-top:200px;
}
.cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
  }

  .cls-2 {
    letter-spacing: -0.02em;
  }

  .cls-3 {
    letter-spacing: -0.01em;
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
  }

  .cls-6 {
    letter-spacing: -0.01em;
  }

  .cls-7 {
    letter-spacing: -0.01em;
  }

  .cls-8 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: -0.01em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11 {
    letter-spacing: -0.01em;
  }

  .cls-12 {
    letter-spacing: -0.04em;
  }

  .cls-13 {
    letter-spacing: -0.02em;
  }

  .cls-14 {
    letter-spacing: 0.01em;
  }

  .cls-15 {
    letter-spacing: -0.01em;
  }

  .cls-16 {
    letter-spacing: -0.06em;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    letter-spacing: 0.01em;
  }

  .cls-19 {
    letter-spacing: 0.02em;
  }

  .cls-20 {
    letter-spacing: -0.01em;
  }

  .cls-21 {
    letter-spacing: -0.03em;
  }

.container {
  width: 100%;
  /*height:540px;*/
}
.container-post {
  height:540px;
}
#learn-more {
  fill-opacity: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  border-radius: 5px;
  stroke-linejoin: round;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
#learn-more:hover {
  fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
  fill: #005fa4;
}

.learn-more-text {
  font-family: 'Roboto';
  fill: #fff;
  pointer-events: none;
  font-size: 14px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.center {
  fill:#0b5790;
}

.pointer {
  fill: #fff;
  stroke: #3b8fc0;
  stroke-width: 2;
}

.nav-copy {
  font-family: 'Roboto';
  fill: #fff;
  fill-opacity: 1;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 14px;
  font-family: 'Roboto';
  text-anchor: middle;
}
.service .icon-wrapper {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.service circle {
  fill:#0b5790;
}
.service circle.shadow {
  fill-opacity: 0;
  -webkit-filter: url(#service-shadow);
          filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {
  fill: #005fa4;
  font-weight: bold;
}

/* Category Css */
.category-row{
  margin-top: 5%;
}
.category-img{
  border-radius: 10px !important;
  width:80%;
  padding: 10px;
  height:200px;	
}
.category-title{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  
}
.category-desc{
    font-size: 17px;
    text-align: justify;
    font-family: sans-serif;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*For Sticky Header menu*/
.navbar1 {
  overflow: hidden !important;
  background-color: #fff !important;
  z-index: -1;
}
.sticky {
  position: fixed;
  top: 0;
    width: 100%;
    z-index: 1
 
}


/*category-card data content css*/
.w3-card-view{
  margin:25px;
   border-radius: 3%!important;
  box-shadow: 2px 2px 4px 4px rgb(119, 134, 145) !important;
}
.w3-card-view img{
 
  height: 30%;

}
.w3-categorycard{
    margin-bottom: 42px !important;
}
#w3-card-content{
  width: 60%;
margin-left: 40px;

 }
 /* View Category */
 .center {
  margin: 30px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px !important;
}
.category-content{
  text-align:justify;
  letter-spacing: 1px;
  line-height: 1.7;

}
.cat_title_1{
  font-size: 20px;
  text-decoration-style: double;
  text-decoration-line: underline;
}
.cat_content_1{
  font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

/*To create responsive menu add new css in header*/
 .topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

  color: black;
}

.topnav a.active {
 
  color: white;
}

.topnav .icon {
  display: none;
}

/*Mobile resposiveness of header menu in header.php*/
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
   float: right;
    color: black;
    margin-right: -61px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    margin-top: 0px !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 63px;
    top: -21px !important ;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*Pagination container*/
.pagination-div{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: auto !important; 
  margin-right: auto !important; 
  display: block !important; 
}

  /*Pagination blocks */



.pagination-section{
   margin: 5rem 0;
  display: grid;
  place-items: center;
}
.pagination {
  list-style-type: none;
  display: flex;
}

.pagination a {
  text-decoration: none;
  background: #0B5790;
  color: #fff;
  padding: 0.75rem 1rem;
  border: 1px solid #0B5790;
}

.firstPage a {
  display: inline-block;
  transition: all 300ms linear;
}

.container_title {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}
.decorative-title {
  position: relative;
  width: 85%;
  margin: 0 auto;
   /* border-color: #0b5790 !important;
    border-style: solid;*/
}
.decorative-title span {
  display: block !important;
  padding: 2rem 0.5rem 2rem !important;
  
  color: #0B5790 !important;
  text-align: center !important;
  font: 25px verdana !important;
  letter-spacing: 0.1rem !important;
}
@media (min-width: 576px) {
  .decorative-title {
    width: 100%;
  }
  .decorative-title span {
    font-size: 3rem;
  }
}
.decorative-bar {
  position: absolute;
  background-color: #0B5790;
}
.left.thick {
  left: -20px;
}
.left.thin {
  right: 0;
}
.left.vertical,
.left.horizontal.thick {
  top: -20px;
}
.left.horizontal.thin {
  top: -16px;
}
.right.thick {
  right: -20px;
}
.right.thin {
  left: 0;
}
.right.vertical,
.right.horizontal.thick {
  bottom: -20px;
}
.right.horizontal.thin {
  bottom: -16px;
}
.vertical {
  width: 8px;
  height: 80px;
}
.horizontal.thick {
  width: 30%;
  height: 8px;
}
.horizontal.thin {
  width: 80%;
  height: 2px;
}

/*new animated title*/
.head-title{
  border: 1px solid #276A9D;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  background-color: #0B5790;
  color: white;
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  text-shadow: 1px 2px #2590CA;
}
.show {
  position: relative;
  color:white !important;
  text-decoration: none !important;
  padding: 0.5em 1em;
  font-weight: normal;
}

@keyframes hide {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes show {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.show::before, .show::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  content: '';
}

.show::before {
  background: #2590CA;
  z-index: -1;
  width: 0;
}

.show::after {
  background: #262f38;
  width: 100%;
}

h2.show::before {
  animation: show 3s .3s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

h2.show::after {
  animation: hide 1.7s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

.heading_title{
  padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: none;
    border-radius: .3rem;
}
.title_text{
text-align: center;
    color: #0B568E;
}


/*=======*/
html, body
{
  overflow-x: hidden;
}
/****--------------- Media Query ---------------****/
@media (min-width: 320px) and (max-width: 480px) {

  body { padding-left: 0px !important; padding-right:0px !important;width: 100% !important; }
  .logo { padding-left: 20px !important; margin:15px !important;  }
  .header{width: 100% !important;}
  .sticky{width: 400px !important; }
  .h-logo { width:60% !important; }
  .main-nav { margin-top: -57px !important; }
  .advertisment { width: 100% !important; }
  .main-box { width: 100% !important; }
  .inner-box { width: 100% !important; }
  .adv_title { font-size: 20px !important; margin-top: -46px !important; line-height: 1.5 !important; }
  .adv_subcontent{ font-size: 15px !important; }
  .blog-title { padding: 10px !important; font-size: 20px !important; }
  .blog_row { width: 100% !important; }
  .beginner-blog { margin: 10px auto !important; }
  .mediator-blog { margin: 10px auto !important; }
  .advance-blog { margin: 10px auto !important; }
  .cate_title { font-size: 40px !important; }
  .container-post{height: 0px;}
  .circle_category { margin-top: -125px !important; }
  .intro_title { font-size: 24px !important; margin-top: -100px !important;  }
  .intro_content{ padding-left: 2px !important;padding-right: 15px !important; }
  .intro_video { width: 100% !important; height: 200 !important; }
  .rel_post_title{ font-size: 24px !important; }
  .rel_post_blog{ width: 100% !important; }

}

@media (min-width: 481px) and (max-width: 767px) { 
 

}



