.social-menu-section {
	padding: 0px 70px;
	background-color: rgb(11, 87, 144) !important;
	text-align: end !important;
}

.fa {
  padding:3px;
  font-size:20px;
  width:30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}
  
.fa:hover {
	color:black;
    text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-instagram {
  color: white;
}
.blog-title{
	padding:50px;
	text-align:center;
}
* {
	box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-color {
color:white;
}

.logo {
	margin: 0px 19px;
	font-size: 1.45em;
}

.main-nav {
	padding:0px 65px;
	margin-top: 5px;
}

.logo a{
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	text-orientation: none;
	color:white;
	font-size: .99em;
}

.h-logo{
  width: 50% !important;
}

.main-nav a:hover {
	text-decoration: none;
	color:black;
}
.font-color{
color:#0B5790 !important;
}
.font-color:hover{
color:rgb(37, 144, 202) !important;
}
.header {
	margin-top: 0px;
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
  overflow: hidden;
  background-color: #fff;
}
.footer-logo{
	width:40%;
	margin-top:10px;
display:flow-root !important;

}
.footer-details{
	color:white;
	text-align:center;
	
display: table;
    padding: 0px 120px;

}
.footer-details-md1{
	color:white;
	text-align:center;
	display: table;
    padding: 0px 155px 20px;
}
.card-data{
  padding: 6px;
    margin: 5px;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 768px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.footer-icon{
	font-size:30px !important;
}

.footer-icon:hover{
	color:white;
}

.footer{
	background-color: rgb(11, 87, 144) !important;
}

ul.list-inline.text-center {
	padding:0px !important;
    display: inline-flex;
    padding: revert !important;
}
.li-icons{
padding:20px;
padding-Bottom:0px !important ;
}
.facebook-lcon{
padding-left:40px !important;

padding-top:20px !important;

}
#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul li{

  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/*.container-fluid{
	
}*/

.container-footer{
  padding-left: 510px !important;
  padding: 5px;

}

.advertisment{
	background-color:#f6f6f6 !important;
}

.main-box{
	border-radius: 10px;
	width: 1200px;
	height: 300px;
	border: 1px solid #DCDCDC;
	margin:20px auto 20px;
}
.inner-box{
	border-radius: 20px;
	padding: 60px !important;
	background-color:white;
	width:1000px;
	height: 210px;
	border:1px solid #DCDCDC;
	margin:40px auto;
}
.btn-size{
	width: 110px;
    margin-top: 20px;
}

/** {
  box-sizing: border-box;
}
*/

.blog_row
{
  margin-top:30px !important;
}
.beginner-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Beginners.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.beginner-blog:hover {
  transform: scale(1.2); 
}

.mediator-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Mediators.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.mediator-blog:hover {
  transform: scale(1.2); 
}

.advance-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Advanced.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.advance-blog:hover {
  transform: scale(1.2); 
}

.releted_blog:hover{
   transform: scale(1.1); 
}
.data-link:hover{
  text-decoration: none;

}

.cate_title{
  font-size: 50px !important;
}

.android-icon{
	font-size: 100px;
    padding: 50px;
    color: aliceblue;
}
.android-icon:hover{
	color:white;
}
.android-content{
	display: block;
    font-size: 40px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    margin-top: -30px;
    text-decoration: none;
}
.header-logo{
  width: 55% !important;
}

.card1 {
  box-shadow:0px 4px 4px 4px rgb(119, 134, 145);
  max-width: 345px;
  margin: auto;
opacity: 0;
  text-align: center;
  font-family: arial;
}
.card1Container{
margin: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.card button:hover {
  opacity: 0.7;
}
.blog-height{
	margin-top:250px !important;
}
.blog-image{
  border-radius: 10px !important;
	width:300px;
	height:250px;
}

.card_click_links{
  text-decoration: none;color:black
}
/* Related Post CSS */
 .blog-image{
  width: 100% !important;
  padding: 20px;
 }
.post_title{
  margin: 15px;
  font-weight: bold;
  font-size: 20px;

  text-decoration: underline !important;
}

.post_desc{
  margin: 5px;
  font-size: 17px;
  text-align: center;
  overflow: hidden;
   text-overflow: ellipsis;
   
	 display: -webkit-box;
   -webkit-line-clamp: 3 !important;
   -webkit-box-orient: vertical;
	
}
.card1 p{
  font-size: 17px;
  text-align: center;
  overflow: hidden;
   text-overflow: ellipsis;
   
   display: -webkit-box;
   -webkit-line-clamp: 3 !important;
   -webkit-box-orient: vertical;
  
}

.Intro{
  line-height: 1.5;
  text-align: justify;
  font-size: 20px !important;
  letter-spacing: 1px;
}
.into-data  {
  line-height: 1;
  text-align: justify;
  font-size: 20px !important;
  letter-spacing: 1px;

}
.intro-data-li{
  list-style:circle !important;
}

.Intro-img{
  border-radius: 30px !important;
  padding: 20px;
}

/* Category Css */
.circle-height{
	margin-top:200px;
}
.cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
  }

  .cls-2 {
    letter-spacing: -0.02em;
  }

  .cls-3 {
    letter-spacing: -0.01em;
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
  }

  .cls-6 {
    letter-spacing: -0.01em;
  }

  .cls-7 {
    letter-spacing: -0.01em;
  }

  .cls-8 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: -0.01em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11 {
    letter-spacing: -0.01em;
  }

  .cls-12 {
    letter-spacing: -0.04em;
  }

  .cls-13 {
    letter-spacing: -0.02em;
  }

  .cls-14 {
    letter-spacing: 0.01em;
  }

  .cls-15 {
    letter-spacing: -0.01em;
  }

  .cls-16 {
    letter-spacing: -0.06em;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    letter-spacing: 0.01em;
  }

  .cls-19 {
    letter-spacing: 0.02em;
  }

  .cls-20 {
    letter-spacing: -0.01em;
  }

  .cls-21 {
    letter-spacing: -0.03em;
  }

.container {
  width: 100%;
  /*height:540px;*/
}
.container-post {
  height:540px;
}
#learn-more {
  fill-opacity: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  border-radius: 5px;
  stroke-linejoin: round;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
#learn-more:hover {
  fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
  fill: #005fa4;
}

.learn-more-text {
  font-family: 'Roboto';
  fill: #fff;
  pointer-events: none;
  font-size: 14px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.center {
  fill:#0b5790;
}

.pointer {
  fill: #fff;
  stroke: #3b8fc0;
  stroke-width: 2;
}

.nav-copy {
  font-family: 'Roboto';
  fill: #fff;
  fill-opacity: 1;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 14px;
  font-family: 'Roboto';
  text-anchor: middle;
}
.service .icon-wrapper {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.service circle {
  fill:#0b5790;
}
.service circle.shadow {
  fill-opacity: 0;
  -webkit-filter: url(#service-shadow);
          filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {
  fill: #005fa4;
  font-weight: bold;
}

/* Category Css */
.category-row{
  margin-top: 5%;
}
.category-img{
  border-radius: 10px !important;
  width:80%;
  padding: 10px;
  height:200px;	
}
.category-title{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  
}
.category-desc{
    font-size: 17px;
    text-align: justify;
    font-family: sans-serif;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*For Sticky Header menu*/
.navbar1 {
  overflow: hidden !important;
  background-color: #fff !important;
  z-index: -1;
}
.sticky {
  position: fixed;
  top: 0;
    width: 100% !important;
    z-index: 1
 
}


/*category-card data content css*/
.w3-card-view{
  margin:25px;
   border-radius: 3%!important;
  box-shadow: 2px 2px 4px 4px rgb(119, 134, 145) !important;
}
.w3-card-view img{
 
  height: 30%;

}
.w3-categorycard{
    margin-bottom: 42px !important;
}
#w3-card-content{
 display: contents;
margin-left: 40px;

 }
 /* View Category */
 .center {
  margin: 30px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px !important;
}
.category-content{
  text-align:justify;
  letter-spacing: 1px;
  line-height: 1.7;

}
.cat_title_1{
  font-size: 20px;
  text-decoration-style: double;
  text-decoration-line: underline;
}
.cat_content_1{
  font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

/*To create responsive menu add new css in header*/
 .topnav {
  /*overflow: hidden;*/

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {

  color: black;
}

.topnav a.active {
 
  color: white;
}

.topnav .icon {
  display: none;
}

/*Mobile resposiveness of header menu in header.php*/
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
   float: right;
    color: black;
    margin-right: -61px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    margin-top: 0px !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 55px;
    top: -79px !important ;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.data-block{
 
  width: 85%;
  float: left;
}
/*Pagination container*/
.pagination-div{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-left: auto !important; 
  margin-right: auto !important; 
  display: block !important; 
}

  /*Pagination blocks */



.pagination-section{
   margin: 5rem 0;
  display: grid;
  place-items: center;
}
.pagination {
  list-style-type: none;
  display: flex;
}

.pagination a {
  text-decoration: none;
  background: #0B5790;
  color: #fff;
  padding: 0.75rem 1rem;
  border: 1px solid #0B5790;
}

.firstPage a {
  display: inline-block;
  transition: all 300ms linear;
}

.container_title {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}
.decorative-title {
  position: relative;
  width: 85%;
  margin: 0 auto;
   /* border-color: #0b5790 !important;
    border-style: solid;*/
}
.decorative-title span {
  display: block !important;
  padding: 2rem 0.5rem 2rem !important;
  
  color: #0B5790 !important;
  text-align: center !important;
  font: 25px verdana !important;
  letter-spacing: 0.1rem !important;
}
@media (min-width: 576px) {
  .decorative-title {
    width: 100%;
  }
  .decorative-title span {
    font-size: 3rem;
  }
}
.decorative-bar {
  position: absolute;
  background-color: #0B5790;
}
.left.thick {
  left: -20px;
}
.left.thin {
  right: 0;
}
.left.vertical,
.left.horizontal.thick {
  top: -20px;
}
.left.horizontal.thin {
  top: -16px;
}
.right.thick {
  right: -20px;
}
.right.thin {
  left: 0;
}
.right.vertical,
.right.horizontal.thick {
  bottom: -20px;
}
.right.horizontal.thin {
  bottom: -16px;
}
.vertical {
  width: 8px;
  height: 80px;
}
.horizontal.thick {
  width: 30%;
  height: 8px;
}
.horizontal.thin {
  width: 80%;
  height: 2px;
}

/*new animated title*/
.head-title{
  border: 1px solid #276A9D;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  background-color: #0B5790;
  color: white;
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  text-shadow: 1px 2px #2590CA;
}
.show {
  position: relative;
  color:white !important;
  text-decoration: none !important;
  padding: 0.5em 1em;
  font-weight: normal;
}

@keyframes hide {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes show {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.show::before, .show::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  content: '';
}

.show::before {
  background: #2590CA;
  z-index: -1;
  width: 0;
}

.show::after {
  background: #262f38;
  width: 100%;
}

h2.show::before {
  animation: show 3s .3s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

h2.show::after {
  animation: hide 1.7s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

.heading_title{
  padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: none;
    border-radius: .3rem;
}
.title_text{
text-align: center;
    color: #0B568E;
}


/*=======*/
html, body
{
  overflow-x: hidden;
}
/****--------------- Media Query ---------------****/
@media (min-width: 320px) and (max-width: 480px) {

  body { padding-left: 0px !important; padding-right:0px !important;width: 100% !important; }
  .logo {  margin:15px -5px !important;  }
  .header{width: 100% !important;}
  .h-logo { width:70% !important; }
  .main-nav { margin-top: -73px !important; }
  .advertisment { width: 100% !important; }
  .main-box { width: 100% !important; }
  .inner-box { width: 100% !important; }
  .adv_title { font-size: 20px !important; margin-top: -46px !important; line-height: 1.5 !important; }
  .adv_subcontent{ font-size: 15px !important; }
  .blog-title { padding: 10px !important; font-size: 20px !important; }
  .blog_row { width: 100% !important; }
  .beginner-blog { margin: 10px auto !important; }
  .mediator-blog { margin: 10px auto !important; }
  .advance-blog { margin: 10px auto !important; }
  .cate_title { font-size: 40px !important; }
  .container-post{height: 0px;}
  .circle_category { margin-top: 0px !important; height: 250px !important; }
  .android_sutra .intro_title { font-size: 24px !important; margin-top: -100px !important;  }
  .android_sutra .intro_content{ padding-left: 2px !important;padding-right: 15px !important;display: flow-root; padding:initial; }
   .andriod_sutra .Intro{ padding: 15px !important; }
   .android_sutra .intro-data{
    padding:15px !important;
   }
  .android_sutra .intro_video { width: 100% !important; height: 200 !important; }
  .rel_post_title{ font-size: 24px !important; }
  .rel_post_blog{ width: 100% !important; }
  .home_header_info{height: 8% !important,width:0% !important;}
  .header_info1,.header_info2{height: fit-content !important;}
  .container-footer { padding-left: 0px !important; }
  .container-footer .footer-logo{ padding: 10px !important;width: 100% !important; }
  .container-footer .list-inline { margin-left: 0px !important; }
  .jumbotron .title_text{ font-size: 31px !important; }
  .container .jumbotron .title_text{ font-size: 21px !important; }
  .viewData{padding: 0px !important;}
  .center{height:200px !important;}
  .dataDesc{padding-right: 2rem !important;}
  .topicsView{padding-left: 0rem !important;}
  .sideListHead{margin-right: 20px !important;margin-top: 30px !important}
 .footer-details{

    padding:  0px 70px    !important;
  }
  .facebook-lcon{
    padding-left: 0px !important;
  }
  .footer-details-md1{
        padding: 0px 110px 20px !important;
}
  }
}

@media (min-width: 481px) and (max-width: 767px) { 
 body { padding-left: 0px !important;padding-right: 0px !important; }
 .topnav a.icon { margin-top: -50px !important; }
 .header .logo .h-logo{ width: 60%!important; padding: 10px !important; }
 .advertisment .main-box{ width: 100% !important;padding: 10px !important; }
 .advertisment .inner-box{ width: 100% !important; }
 .social-menu-section { text-align: center !important; }
 .advertisment { padding: 10px !important; }
 
 .andriod_sutra .adv_box { padding: 10px !important; }
 .home_header_info{height: 8% !important,width:0% !important;}
  .header_info1,.header_info2{height: fit-content !important;}
 .jumbotron .title_text { font-size:21px !important; }
 .android_sutra .intro-content .intro-data{
    padding: 15px !important;


    
  }
 .andriod_sutra .beginner-blog,.mediator-blog,.advance-blog{ margin-bottom: 40px !important; }
 .andriod_sutra .Intro{ padding: 15px !important; }
 .andriod_sutra .intro_video { height: 326px !important; width: 462px !important;padding: 20px !important; }
  .android_sutra .intro_content{ padding-left: 2px !important;padding-right: 15px !important; }
 .andriod_sutra .rel_post_blog{ display: block !important;margin-left: auto !important;margin-right: auto !important; }
 .footer .container-footer { padding-left:0px !important; }
 .footer .footer-logo { padding: 15px !important;width: 90% !important; }
 .container-footer .list-inline { padding-left: 40px !important; }
 .footer-details{

    padding:  0px 70px    !important;
  }
  .facebook-lcon{
    padding-left: 0px !important;
  }
  .footer-details-md1{
        padding: 0px 110px 20px !important;
}
}

@media(min-width: 768px) and (max-width: 1200px){
  body { padding-left: 0px !important;padding-right: 0px !important; }
 .topnav a.icon { margin-top: 0px !important; }
 .advertisment .main-box{ width: 100% !important;padding: 10px !important; }
 .advertisment .inner-box{ width: 100% !important; }
 .andriod_sutra .beginner-blog,.mediator-blog,.advance-blog{ width: 230px !important; height: 300px !important; }
 .android-icon{text-align: center !important;padding : 28px !important;}
 .android-content{margin: 13px -35px;}
 .social-menu-section { text-align: right !important;padding: 0px 0px; }
 .advertisment { padding: 10px !important; }
 .card1{width:200px; height:300px; }
 .blog-image{height:45% !important;}
 .home_header_info{height: fit-content !important,width:0% !important;}
 .andriod_sutra .Intro-img{ width: 352px !important; height: 335px !important }
 .andriod_sutra .intro_video { width: 350px !important; }
 
  .header_info1,.header_info2{height: fit-content !important;}

}

/*animate div css*/

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }

  50% {
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }

  50% {
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animated.animationDelay{
  animation-delay:.4s;
  -webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
  animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
  animation-delay:1.6s;
  -webkit-animation-delay:1.6s;
}

.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}


/*Div fade */
.rel_post_blog{

}

/*RxJava Menu Item Css*/
 .home_header_info{
   width: 100%;
    position: relative;
    overflow: hidden;
  }
  .header_info1, .header_info2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header_info1{background: white;} 
  .header_info2{
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    background: #0B5790;
    color:white !important;
    animation: animation-info 4s infinite;
  }
  
  @keyframes animation-info{
    10% {left: -100%;}
    50% {left: 0;}
    90% {left: -100%;}
  }
  

  /*w3-containers padding*/
  .w3-containerdata{
    padding:1.01em 16px !important;
  }

/*Index main Header*/
.header-index{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:600px;
  min-width:300px;
  color:#eee;
}
.header-index:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header-index:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://i.pinimg.com/originals/df/f3/13/dff3134d5ee3b8bade3386cab2987666.jpg) 50% 0 no-repeat;
  /*background:#1B2030 url(https://richestsoft.com/blog/wp-content/uploads/2019/02/Android-app-development.jpg) 50% 0 no-repeat;*/
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}


/*category page sticky right advertise */
.sticky_ad {
   position: fixed;
  
    height: 30%;
    z-index: -1
}


/*side list titles with buttels*/
.li {
  color:black;
  list-style:none;
  position: relative;
  padding-left:50px;
  line-height: 3;
  font-size:1.3em;
  border-bottom: solid #8EBEFF 1.5px

}

.li:before {
  font-family:FontAwesome;
  position: absolute;
  left: 0;
  color:#318ca0;
  font-size:1em;
}
li.list:before {
   content:"\f00c";
}
.li a {
  text-decoration: none !important;
  color: black;
}
.li a:hover{
  opacity: 0.5;
}
.li:hover:before {
  color:#0B5790;
  text-decoration: none;
}
.sideListHead{
  margin-left: 30px;
    text-align: -webkit-center;
    font-size: 2em;
    border-bottom: double #0B568E 7px;
    padding-bottom: 12px;
}








/*Download now button */
.btn-download{
 /* border-radius: 10px;
  background-color: #0B5790;
  width:200px;
  height:50px;
  font-size: 20px; 
  */color:white;
  float: left;
  position: relative;
  top: 0;
   background-color: #0B5790;
  width:200px;
  height:50px;
  border:1px solid #0B5790 ;
  font-size: 20px; 
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.5);
  margin: 0 7px 11px 100px;


  text-align: center;

  /* so nobody selects the inside text on button */
  user-select: none;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;
}


.btn-medium {
  line-height: 45px;

  font-size: 120%;
}


.info {
  background:  rgb(14, 87, 140,0.8);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

.info:hover {
  background: #2590CA;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.7);
  color: white;
}

/* Imitate a pressed effect for buttons */
.info:active {
  top: 4px;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.5);
}

/*Coming Soon css*/
@keyframes fadeSoon {
  from {bottom: 100%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

@-webkit-keyframes fadeSoon {
  from {top: 100%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}
@keyframes animateSoon{
  5%{
    content: 'C'
  }

  10%{
    content: 'Co'
  }
  20%{
    content: 'Com'
  }
  30%{
    content: 'Comi'
  }
  40%{
    content: 'Comin'
  }
  50%{
    content: 'Coming'
  }
  60%{
    content: 'Coming S'
  }
  70%{
    content: 'Coming So'
  }
  80%{
    content: 'Coming Soo'
  }
  85%{
    content: 'Coming Soon'
  }
  90%{
    content: 'Coming Soon!'
  }

  95%{
    content: 'Coming Soon!.'
  }

  100%{
    content: 'Coming Soon!..'
  }
}

.commingsoon {
 /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeSoon 1000ms ease;
  -webkit-animation: fadeSoon 1000ms ease;
  */
/*  position: absolute;*/
  display:	initial;
  top: 50%;
  left: 150%;
   font-family: Roboto, sans-serif;
  font-size: 9em;
  font-weight: 700;

  transform: translate(-50%, 100%);
}
  
.h1comming:{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-shadow: 10px 9px 1px rgba(255,0,0,0.1);
}
.h1comming:before {
 /* font-size: 50px;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-shadow: 10px 9px 1px rgba(255,0,0,0.1);
 font-family: Roboto, sans-serif;
  font-size: 2em;
  font-weight: 700;
 /*color:#FFFFFF;*/
 /*background-image:#08406*/
   background-image: linear-gradient(to right,#0B5790, #0B5790,#0B5790);
  content:'';
  animation: animateSoon infinite 3s;
}

.endDot {
  color: #4FEBFE;
}

/*blogs*/
.blog_rows:after {
  content: "";
  display: table;
  clear: both;
}
.blog_image:{
  width:fit-content;
border-radius: 10px !important;

  padding: 10px;
  height:200px; 
}
.blog_column {
  border-radius: 10px;
  border-width: 2px;
  float: left;
  width: 30%;
  padding: 10px;
      background-color: #1364ab;
    color: white;
}
.blog_content:{
    width:fit-content;
}
.blog_column:hover{
   transform: scale(1.05); 
}
.IntroGithub:{
  line-height: 1.5;
    text-align: center;
    font-size: 20px !important;
    letter-spacing: 1px;
}

