
.social-menu-section {
	padding: 0px 70px;
	background-color: rgb(11, 87, 144) !important;
	text-align: end !important;
}

.fa {
  padding:3px;
  font-size:20px;
  width:30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}

.fa:hover {
	color:black;
    text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-instagram {
  color: white;
}
.blog-title{
	padding:50px;
	text-align:center;
}
* {
	box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title-color {
color:white;
}

.logo {
	margin: 0px 90px;
	font-size: 1.45em;
}

.main-nav {
	padding:0px 65px;
	margin-top: 5px;
}

.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	text-orientation: none;
	color:white;
	font-size: .99em;
}

.main-nav a:hover {
	text-decoration: none;
	color:black;
}
.font-color{
color:#0B5790 !important;
}
.font-color:hover{
color:rgb(37, 144, 202) !important;
}
.header {
	margin-top: 0px;
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
}
.footer-logo{
	width:40%;
	margin-top:10px;
}
.footer-details{
	color:white;
	text-align:center;
	padding:10px;
}
.footer-details-md1{
	color:white;
	text-align:center;
	padding: 5px 0px 15px;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.footer-icon{
	font-size:30px !important;
}

.footer-icon:hover{
	color:white;
}

.footer{
	background-color: rgb(11, 87, 144) !important;
}

ul.list-inline.text-center {
    display: flex;
}

#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul li{
  padding:20px;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/*.container-fluid{
	
}*/

.container-footer{
  padding-left: 510px !important;
  padding: 5px;
}

.advertisment{
	background-color:#f6f6f6 !important;
}

.main-box{
	border-radius: 10px;
	width: 1200px;
	height: 300px;
	border: 1px solid #DCDCDC;
	margin:20px auto 20px;
}
.inner-box{
	border-radius: 20px;
	padding: 60px !important;
	background-color:white;
	width:1000px;
	height: 210px;
	border:1px solid #DCDCDC;
	margin:40px auto;
}
.btn-size{
	width: 110px;
    margin-top: 20px;
}

* {
  box-sizing: border-box;
}


.beginner-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Beginners.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.beginner-blog:hover {
  transform: scale(1.2); 
}

.mediator-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Mediators.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.mediator-blog:hover {
  transform: scale(1.2); 
}

.advance-blog {
  border-radius: 10px !important;
  padding: 50px;
  background-image: url('../Images/Advanced.jpeg');
  transition: transform .5s; 
  width:300px;
  height:350px;
  margin: 0 auto;
}

.advance-blog:hover {
  transform: scale(1.2); 
}

.data-link:hover{
  text-decoration: none;
  
}

.android-icon{
	font-size: 100px;
    padding: 50px;
    color: aliceblue;
}
.android-icon:hover{
	color:white;
}
.android-content{
	display: block;
    font-size: 40px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    margin-top: -30px;
    text-decoration: none;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;

  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.card button:hover {
  opacity: 0.7;
}
.blog-height{
	margin-top:250px !important;
}
.blog-image{
  border-radius: 10px !important;
	width:300px;
	height:250px;
}

/* Related Post CSS */
.post_title{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline !important;
}

.post_desc{
  font-size: 17px;
  text-align: center;
  overflow: hidden;
   text-overflow: ellipsis;
   
	 display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
	
}

.Intro{
  text-align:justify;
  font-size: 20px !important;
}

.Intro-img{
  border-radius: 10px !important;
  padding: 20px;
}

/* Category Css */
.circle-height{
	margin-top:200px;
}
.cls-1 {
    font-size: 28px;
    font-family: Roboto-Bold, Roboto;
    font-weight: 700;
  }

  .cls-2 {
    letter-spacing: -0.02em;
  }

  .cls-3 {
    letter-spacing: -0.01em;
  }

  .cls-4 {
    letter-spacing: -0.01em;
  }

  .cls-5 {
    font-size: 16px;
    font-family: Roboto-Regular, Roboto;
  }

  .cls-6 {
    letter-spacing: -0.01em;
  }

  .cls-7 {
    letter-spacing: -0.01em;
  }

  .cls-8 {
    letter-spacing: -0.02em;
  }

  .cls-9 {
    letter-spacing: -0.01em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11 {
    letter-spacing: -0.01em;
  }

  .cls-12 {
    letter-spacing: -0.04em;
  }

  .cls-13 {
    letter-spacing: -0.02em;
  }

  .cls-14 {
    letter-spacing: 0.01em;
  }

  .cls-15 {
    letter-spacing: -0.01em;
  }

  .cls-16 {
    letter-spacing: -0.06em;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    letter-spacing: 0.01em;
  }

  .cls-19 {
    letter-spacing: 0.02em;
  }

  .cls-20 {
    letter-spacing: -0.01em;
  }

  .cls-21 {
    letter-spacing: -0.03em;
  }

.container {
  width: 100%;
  /*height:540px;*/
}
.container-post {
  height:540px;
}
#learn-more {
  fill-opacity: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
  border-radius: 5px;
  stroke-linejoin: round;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}
#learn-more:hover {
  fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
  fill: #005fa4;
}

.learn-more-text {
  font-family: 'Roboto';
  fill: #fff;
  pointer-events: none;
  font-size: 14px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.center {
  fill:#0b5790;
}

.pointer {
  fill: #fff;
  stroke: #3b8fc0;
  stroke-width: 2;
}

.nav-copy {
  font-family: 'Roboto';
  fill: #fff;
  fill-opacity: 1;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 14px;
  font-family: 'Roboto';
  text-anchor: middle;
}
.service .icon-wrapper {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.service circle {
  fill:#0b5790;
}
.service circle.shadow {
  fill-opacity: 0;
  -webkit-filter: url(#service-shadow);
          filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {
  fill: #005fa4;
  font-weight: bold;
}

/* Category Css */
.category-row{
  margin-top: 5%;
}
.category-img{
  border-radius: 10px !important;
  width:80%;
  height:200px;	
}
.category-title{
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.category-desc{
    font-size: 17px;
    text-align: justify;
    font-family: sans-serif;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*For Sticky Header menu*/
#navbar {
  overflow: hidden;
  background-color: #fff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%; 
 
 
}